* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(211, 211, 211, 0.6);
}

/* navbar */
.navbar {
    padding: 10px 20px;
}

.navbar-nav {
    gap: 15px;
}

.nav-item {
    padding: 0 !important;
    border: 1px solid #3b71ca;
    border-radius: 20px;
    transition: all .3s;
}

.nav-link {
    color: black;
    padding: 5px 15px !important;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #3b71ca;
}

.nav-item:hover .nav-link {
    color: white;
}

/* end navbar */

/* headingDiv */
.headingDiv {
    padding: 50px 50px;
    padding-bottom: 20px;
}

/* end headingDiv */

/* searchDiv */
.searchDiv {
    padding: 0 20px;
    max-width: 500px;
    position: relative;
    gap: 15px;
}

.searchIcon {
    font-size: 42px;
    position: relative;
    left: 50px;
}

.searchInput {
    padding-left: 40px;
}

.addPatientBtn {
    border: none;
    background-color: transparent;
}

.addPatientIcon {
    font-size: 30px;
    transition: all .3s;
}

.addPatientIcon:hover {
    color: #3b71ca;
}

/* end searchDiv */

/* contentDiv */
.contentDiv {
    padding: 50px 20px;
}

.iconsDiv {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    font-size: 18px;
}

.iconsDiv .iconClass {
    cursor: pointer;
}

.iconClass:hover {
    color: #3b71ca;
}


.tableData {
    min-width: 100px;
}

.WLtableData {
    min-width: 250px;
}


.table-responsive::-webkit-scrollbar {
    width: 5px !important;
}

.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 6px #3b71ca;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #3b71ca;
    border-radius: 20px;
}


.table-responsive::-webkit-scrollbar:hover {
    background: #3b71ca !important;
}

/* end contentDiv */

/* modalform */
.checkboxGroup {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.checkboxGroup .form-check-label {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .3s;
}

.checkboxGroup .form-check-label:hover {
    background-color: rgba(211, 211, 211, 0.6);
}

/* end modalform */

/* dashboard */
/* workListDiv */
.workListDiv {
    padding: 0 50px 20px 50px;
}

.workList {
    list-style-type: decimal;
}

.workListDiv h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addWorkBtn {
    background-color: rgba(59, 113, 202, 0.5);
    border: 1px solid #3b71ca;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    transition: all .3s;
}

.addWorkBtn:hover {
    background-color: #3b71ca;
    color: white;
}

.treatmentListDiv td, .workerListDiv  td {
    min-width: 150px;
}

/* end workListDiv */

.workInputDiv {
    max-width: 300px;
}

/* end dashboard */