* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(211, 211, 211, 0.6);
}

/* navbar */
.navbar {
    padding: 10px 20px;
}

.navbar-nav {
    gap: 15px;
}

.nav-item {
    padding: 5px 15px;
    border: 1px solid #3b71ca;
    border-radius: 20px;
    transition: all .3s;
}

.nav-link {
    color: black;
    padding: 0;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #3b71ca;
}

.nav-item:hover .nav-link {
    color: white;
}

/* end navbar */

/* headingDiv */
.headingDiv {
    padding: 50px 50px;
    padding-bottom: 20px;
}

/* end headingDiv */

/* searchDiv */
.searchDiv {
    padding: 0 20px;
    max-width: 500px;
    position: relative;
    gap: 15px;
}

.searchIcon {
    font-size: 42px;
    position: relative;
    left: 50px;
}

.searchInput {
    padding-left: 40px;
}

.addPatientBtn {
    border: none;
    background-color: transparent;
}

.addPatientIcon {
    font-size: 30px;
    transition: all .3s;
}

.addPatientIcon:hover {
    color: #3b71ca;
}
/* end searchDiv */